body,form {margin:0; padding:0;}
input,textarea,select {font-family:Tahoma, Arial, Helvetica, sans-serif; font-size:12px; color:#333; margin:0; padding:2px; border:1px solid #aaa;}
body {text-align:center; font-family:Tahoma, Arial, Helvetica, sans-serif; font-size:12px; color:#41403b; line-height:20px; background:#fff url(../img/bg.png) repeat-x;}
a {text-decoration:none; color:#d70000;}
a:hover {color:#1d71a0;}
h1 {font-size:13px; padding:0 0 5px 0; margin:0 0 10px 0; border-bottom:1px solid #6BAACE;}
h2 {font-size:12px; padding:0; margin:0 0 10px 0; color:#d70000;}
h3 {font-size:13px; padding:0 0 5px 0; margin:20px 0 10px 0; border-bottom:1px solid #d70000; color:#d70000;}
p {margin:0 0 20px 0; padding:0;}
a.more {clear:both; float:right; width:120px; height:29px; line-height:29px; background:url(../img/a_b.png) no-repeat; font-weight:bold; color:#fff; text-align:center;}
#info {display:block; overflow:hidden; color:#999; margin:40px 0 0 0; text-align:center;}
.message,.errorBox {display:block; padding:15px; overflow:hidden; border:1px solid #ccc; background:#f9f9f9; color:#d70000; font-weight:bold; text-align:center;}
.message p {margin:0; padding:0;}

/*css*/
#wrap {margin:0 auto 40px auto; width:990px; overflow:hidden; position:relative; text-align:justify;}
#logo {position:absolute; left:0; top:17px; width:372px; height:67px; background:url(../img/logo.png) no-repeat;}
#logout {position:absolute; right:0; top:5px; overflow:hidden; text-align:right;}
#logout span {font-weight:bold;}
#controler {margin:99px auto 10px 0; display:block; overflow:hidden;}
#zaloguj {display:block; overflow:hidden; height:38px; line-height:38px; text-align:center; font-weight:bold; color:#fff; margin:0 0 20px 0;}
#zaloguj2 {display:block; overflow:hidden; text-align:center;}
#zaloguj2 table {margin:0 auto; width:auto;}
#zaloguj2 table td {padding:5px; vertical-align:middle; text-align:left;}
#zaloguj2 table td input {width:240px;}
#zaloguj2 table td input.submit {width:120px; height:29px; border:none; background:url(../img/a_b.png) no-repeat; font-weight:bold; color:#fff; cursor:pointer; margin:0 5px 0 0;}
#info {display:block; overflow:hidden; color:#999; margin:40px 0 0 0; text-align:center;}

#menu {display:block; overflow:hidden; height:38px; line-height:38px;margin:0 0 20px 0;}
#menu a {display:inline-block; padding:0 20px; color:#fff; font-size:13px; font-weight:bold;}
#menu a:hover {background:#B6D5E7; color:#455158;}

.leftside {float:left; width:300px;}
.leftside a {text-align:left; font-size:11px; color:#444;}
.leftside a.mark_1 {display:block; border-left:4px solid #6BAACE; border-bottom:1px solid #6BAACE; padding:5px; margin:0 0 1px 0;}
.leftside a.mark_2 {display:block; border-left:4px solid #aaa; border-bottom:1px solid #aaa; padding:3px; margin:0 0 1px 20px;}
.leftside a.mark_3 {display:block; border-left:2px solid #ccc; border-bottom:1px solid #ccc; padding:2px; margin:0 0 1px 30px;}
.leftside a.mark_4 {display:block; border-left:2px solid #ccc; border-bottom:1px solid #ccc; padding:2px; margin:0 0 1px 40px;}
.leftside a.mark_5 {display:block; border-left:2px solid #ccc; border-bottom:1px solid #ccc; padding:2px; margin:0 0 1px 50px;}
.leftside a.markme {background:#f1f1f1; color:#6BAACE;}
.leftside a:hover {background:#f5f5f5;}
.rightside {float:right; width:640px; padding-left:20px; border-left:1px solid #ccc;}

.akt {float:left; height:200px; width:295px; padding:0 15px 15px 0; margin:0 7px 15px 7px; overflow:hidden; border-bottom:1px solid #eee; border-right:1px solid #eee; position:relative;}
.akt a.more {position:absolute; right:15px; bottom:15px;}

.akt2 {display:block; padding:0 15px 15px 0; overflow:hidden; border-bottom:1px solid #eee; border-right:1px solid #eee;}

.zgloszenie {width:auto;}
.zgloszenie td {padding:5px 20px 5px 5px; vertical-align:middle; text-align:left;}
.zgloszenie td span {color:#d70000;}
.zgloszenie td label {font-weight:bold;}
.zgloszenie td input,.zgloszenie td textarea {width:280px;}
.zgloszenie td select {width:285px;}
.zgloszenie td input.submit {width:120px; height:29px; border:none; background:url(../img/a_b.png) no-repeat; font-weight:bold; color:#fff; cursor:pointer; margin:0 5px 0 0;}
#info {display:block; overflow:hidden; color:#999; margin:40px 0 0 0; text-align:center;}

.searchinside {float:left; width:500px;}
.searchinside input {width:280px;}
.searchinside span {width:160px; float:left;}
.searchinside input.submit {width:120px; height:29px; border:none; background:url(../img/a_b.png) no-repeat; font-weight:bold; color:#fff; cursor:pointer; margin:0 0 0 5px;}

.download_1 {display:block; height:27px; line-height:24px; overflow:hidden; margin:0 0 1px 0; padding:2px 5px;border-bottom:1px solid #ccc; color:#222;}
.download_1:hover {color:#d70000;}
.download_1 p {float:left;}
.download_1 span {float:right; height:27px; line-height:24px; color:#222; padding:0 35px 0 0; background:url(../img/download.png) no-repeat center right;}
.download_2 {display:block; height:27px; line-height:24px; overflow:hidden; margin:0 0 1px 40px; padding:2px 5px;border-bottom:1px solid #ccc; color:#222;}
.download_2:hover {color:#d70000;}
.download_2 p {float:left;}
.download_2 span {float:right; height:27px; line-height:24px; color:#222; padding:0 35px 0 0; background:url(../img/download.png) no-repeat center right;}
.download_3 {display:block; height:27px; line-height:24px; overflow:hidden; margin:0 0 1px 70px; padding:2px 5px;border-bottom:1px solid #ccc; color:#222;}
.download_3:hover {color:#d70000;}
.download_3 p {float:left;}
.download_3 span {float:right; height:27px; line-height:24px; color:#222; padding:0 35px 0 0; background:url(../img/download.png) no-repeat center right;}
.download_4 {display:block; height:27px; line-height:24px; overflow:hidden; margin:0 0 1px 100px; padding:2px 5px;border-bottom:1px solid #ccc; color:#222;}
.download_4:hover {color:#d70000;}
.download_4 p {float:left;}
.download_4 span {float:right; height:27px; line-height:24px; color:#222; padding:0 35px 0 0; background:url(../img/download.png) no-repeat center right;}
.download_5 {display:block; height:27px; line-height:24px; overflow:hidden; margin:0 0 1px 130px; padding:2px 5px;border-bottom:1px solid #ccc; color:#222;}
.download_5:hover {color:#d70000;}
.download_5 p {float:left;}
.download_5 span {float:right; height:27px; line-height:24px; color:#222; padding:0 35px 0 0; background:url(../img/download.png) no-repeat center right;}

.padding_1 {padding-left:0; color:#6BAACE; display:block; margin:15px 0 4px 0;} 
.padding_2 {padding-left:30px; color:#777; display:block; margin:15px 0 4px 0;} 
.padding_3 {padding-left:60px; color:#aaa; display:block; margin:15px 0 4px 0;} 
.padding_4 {padding-left:90px; color:#aaa; display:block; margin:15px 0 4px 0;} 
.padding_5 {padding-left:120px; color:#aaa; display:block; margin:15px 0 4px 0;} 

#info {display:block; overflow:hidden; color:#999; margin:40px 0 0 0; text-align:center;}

#tab-notification {width:100%; background:#ccc;}
#tab-notification td {padding:5px; vertical-align:middle; text-align:left; background:#fff;}
#tab-notification td.tocenter {text-align:center;}
#tab-notification td a.zarzadzaj {display:inline-block; width:120px; height:29px; line-height:29px; background:url(../img/a_b.png) no-repeat; font-weight:bold; color:#fff; text-align:center;}
#tab-notification thead td {background:#eee; font-weight:bold;}
#tab-notification thead td a {background:#eee; font-weight:bold;}
#tab-notification thead td a img {border:none;}
.print {cursor:pointer; background:url(../img/printer-icon.gif) no-repeat center left; float:right; padding:4px 4px 3px 40px; height:34px; line-height:34px; border:1px solid #ccc; margin:0 0 0 5px;}
.print:hover {background:#eee url(../img/printer-icon.gif) no-repeat center left; color:#333;}
.pdf {cursor:pointer; background:url(../img/pdf.gif) no-repeat center left; float:right; padding:4px 4px 3px 40px; height:34px; line-height:34px; border:1px solid #ccc; margin:0 0 0 5px;}
.pdf:hover {background:#eee url(../img/pdf.gif) no-repeat center left; color:#333;}

.tabela {width:100%; background:#ccc; margin:0 0 30px 0;}
.tabela td {padding:5px; vertical-align:middle; text-align:left; background:#fff;}
.tabela thead td {background:#eee; font-weight:bold;}
.tabela td input {width:280px;}
.tabela td input.submit {width:120px; height:29px; border:none; background:url(../img/a_b.png) no-repeat; font-weight:bold; color:#fff; cursor:pointer; margin:0 5px 0 0;}

.dane {float:right; width:280px; background:#ccc; margin:20px 0 0 0;}
.dane td {padding:3px; vertical-align:middle; text-align:left; background:#fff;}
.dane thead td {background:#eee; font-weight:bold;}

.dane2 {float:left; width:680px; background:#ccc;}
.dane2 td {padding:3px; vertical-align:middle; text-align:left; background:#fff;}
.dane2 thead td {background:#eee; font-weight:bold;}

.post {display:block; padding:10px; margin:5px 0; overflow:hidden; background:#f5f5f5;}
.user {font-weight:bold;}
.user span {font-weight:normal; color:#999;}